@import "./variables.scss";

.form {
    display: flex;
    flex-flow: column;
    align-items: center;

    span {
        position: relative;

        margin: 2.5vmin;

        input {
            height: 12.5vmin;
            width: 75vmin;

            border: none;
            border-bottom: 0.7vmin solid #afbdcf;
            box-shadow: none;

            padding-left: 5vmin;

            background-color: unset;
            font-size: 4vmin;
            color: white;
        }

        input:focus + label,
        input:valid + label {
            top: -1vmin;
            left: 2.5vmin;

            padding: 0vmin 1vmin 0vmin 1vmin;

            font-size: 4vmin;
            color: #afbdcf;
        }

        input:focus {
            outline: none;
        }

        label {
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
            pointer-events: none;

            padding: 4vmin;

            font-size: 5vmin;
            color: #afbdcf;
        }
    }

    p {
        font-size: 5vmin;
        color: white;
        text-align: center;
    }

    button {
        border: none;
        border-radius: 2vmin;

        padding: 3vmin 7.5vmin;
        margin: 1.5vmin;

        box-shadow: -0.5vmin -0.5vmin 1vmin 0vmin #00000040,
            0.5vmin 0.5vmin 1vmin 0vmin #00000040;

        background-color: $s-color-dark;
        color: white;
        font-size: 5vmin;
    }
}
